body{
  background: rgb(7,25,7);
  background: linear-gradient(4deg, rgba(7,25,7,1) 0%, rgba(68,30,112,1) 100%);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-image: url('/assets/pipes.png');
  background-repeat: no-repeat;
  background-size: cover;

}


.login_container{
   width: 50vw;
   height: 50vh;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .alert{
    color: white;
  }

  .login_box{
    width: 40vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 1px 1px 1px #888;
    background-color: white;
    border-radius: 5px;

  }
}

.field, label, input, a{
  margin: 5px 0px;
}

.formatted_table{
  td{
    border: 1px solid black;
    background-color: white;
    width: 33%;
  }
}

.logout_buton_container{
  margin-top: 10px;

}

.user_administration {
  width: 90%;
  height: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 1px 1px 1px #888;
  background-color: grey;
  border-radius: 5px;
  opacity: 0.9;

}

.alert{
  color: white;
}